#**Trabalhando com Planilhas do Excel**

In [25]:
#Importando a biblioteca
import pandas as pd

In [27]:
#Leitura dos arquivos
df1 = pd.read_excel("/content/drive/MyDrive/Curso_Python_Pandas_Digital_Innovation-master/datasets/Aracaju.xlsx")
df2 = pd.read_excel("/content/drive/MyDrive/Curso_Python_Pandas_Digital_Innovation-master/datasets/Fortaleza.xlsx")
df3 = pd.read_excel("/content/drive/MyDrive/Curso_Python_Pandas_Digital_Innovation-master/datasets/Natal.xlsx")
df4 = pd.read_excel("/content/drive/MyDrive/Curso_Python_Pandas_Digital_Innovation-master/datasets/Recife.xlsx")
df5 = pd.read_excel("/content/drive/MyDrive/Curso_Python_Pandas_Digital_Innovation-master/datasets/Salvador.xlsx")

In [26]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [28]:
df3.head()

  Cidade       Data  Vendas  LojaID  Qtde
0  Natal 2018-08-27   606.0     853     2
1  Natal 2018-11-25   563.0     853     2
2  Natal 2019-03-11   308.0     852     3
3  Natal 2019-01-07   271.0     854     3
4  Natal 2019-03-09   699.0     853     3

In [29]:
#juntando todos os arquivos
df = pd.concat([df1,df2,df3,df4,df5])

In [30]:
#Exibindo as 5 primeiras linhas
df.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8

In [31]:
#Exibindo as 5 Ãºltimas linhas
df.tail()

       Cidade       Data  Vendas  LojaID  Qtde
235  Salvador 2019-01-03   41.84    1034     1
236  Salvador 2019-01-03  126.29    1035     3
237  Salvador 2019-01-03   38.06    1036     3
238  Salvador 2019-01-03  139.64    1035     1
239  Salvador 2019-01-03  161.41    1037     3

In [32]:
df.sample(5)

        Cidade       Data  Vendas  LojaID  Qtde
78    Salvador 2019-01-01  111.20    1036     3
202      Natal 2019-01-02   22.45    1036     1
73       Natal 2018-01-05  773.00     852     2
85   Fortaleza 2019-01-01  149.00    1005     3
233   Salvador 2019-01-03  172.40    1036     2

In [33]:
#Verificando o tipo de dado de cada coluna
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID             int64
Qtde               int64
dtype: object

In [34]:
#Alterando o tipo de dado da coluna LojaID
df["LojaID"] = df["LojaID"].astype("object")

In [36]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID            object
Qtde               int64
dtype: object

In [37]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde
0  Aracaju 2018-01-01  142.00   1520     1
1  Aracaju 2018-01-01   14.21   1522     6
2  Aracaju 2018-01-01   71.55   1520     1
3  Aracaju 2018-01-01    3.01   1521     7
4  Aracaju 2018-01-01   24.51   1522     8

**Tratando valores faltantes**

In [38]:
#Consultando linhas com valores faltantes
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [39]:
#Substituindo os valores nulos pela mÃ©dia
df["Vendas"].fillna(df["Vendas"].mean(), inplace=True)

In [40]:
df["Vendas"].mean()

122.61180089485458

In [41]:
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [42]:
df.sample(15)

       Cidade       Data  Vendas LojaID  Qtde
73    Aracaju 2018-01-01  159.78   1521     3
48      Natal 2018-09-20  676.00    852     4
68      Natal 2018-06-22  274.00    852     3
98    Aracaju 2018-01-01  138.33   1521    10
1    Salvador 2018-01-01   19.02   1034     3
79      Natal 2019-02-28  557.00    852     4
18   Salvador 2019-01-01  242.31   1035     1
230     Natal 2019-01-03  184.69   1036     1
142     Natal 2019-01-02    7.12   1034     1
155  Salvador 2019-01-02  237.81   1036     3
102     Natal 2019-01-02   40.84   1034     3
9    Salvador 2019-01-01  127.92   1036     1
55      Natal 2019-01-08  859.00    854     4
22      Natal 2018-06-21  621.00    853     3
60    Aracaju 2018-01-01  215.88   1521     3

In [43]:
#Substituindo os valores nulos por zero
df["Vendas"].fillna(0, inplace=True)

In [44]:
#Apagando as linhas com valores nulos
df.dropna(inplace=True)

In [46]:
#Apagando as linhas com valores nulos com base apenas em 1 coluna
df.dropna(subset=["Vendas"], inplace=True)

In [47]:
#Removendo linhas que estejam com valores faltantes em todas as colunas
df.dropna(how="all", inplace=True)

**Criando colunas novas**

In [48]:
#Criando a coluna de receita
df["Receita"] = df["Vendas"].mul(df["Qtde"])

In [49]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde  Receita
0  Aracaju 2018-01-01  142.00   1520     1   142.00
1  Aracaju 2018-01-01   14.21   1522     6    85.26
2  Aracaju 2018-01-01   71.55   1520     1    71.55
3  Aracaju 2018-01-01    3.01   1521     7    21.07
4  Aracaju 2018-01-01   24.51   1522     8   196.08

In [52]:
df["Receita/Vendas"] = df["Receita"] / df["Vendas"]

In [51]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
0  Aracaju 2018-01-01  142.00   1520     1   142.00             1.0
1  Aracaju 2018-01-01   14.21   1522     6    85.26             6.0
2  Aracaju 2018-01-01   71.55   1520     1    71.55             1.0
3  Aracaju 2018-01-01    3.01   1521     7    21.07             7.0
4  Aracaju 2018-01-01   24.51   1522     8   196.08             8.0

In [53]:
#Retornando a maior receita
df["Receita"].max()

3544.0

In [54]:
#Retornando a menor receita
df["Receita"].min()

3.34

In [55]:
#nlargest
df.nlargest(3, "Receita")

   Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
7   Natal 2019-03-18   886.0    853     4   3544.0             4.0
51  Natal 2018-01-21   859.0    852     4   3436.0             4.0
55  Natal 2019-01-08   859.0    854     4   3436.0             4.0

In [ ]:
#nsamllest
df.nsmallest(3, "Receita")

In [56]:
#Agrupamento por cidade
df.groupby("Cidade")["Receita"].sum()

Cidade
Aracaju       48748.25
Fortaleza     37913.97
Natal        167227.52
Recife        51936.51
Salvador      40596.73
Name: Receita, dtype: float64

In [57]:
#Ordenando o conjunto de dados
df.sort_values("Receita", ascending=False).head(10)

   Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
7   Natal 2019-03-18   886.0    853     4   3544.0             4.0
55  Natal 2019-01-08   859.0    854     4   3436.0             4.0
51  Natal 2018-01-21   859.0    852     4   3436.0             4.0
30  Natal 2018-10-02   856.0    853     4   3424.0             4.0
41  Natal 2018-05-20   835.0    852     4   3340.0             4.0
38  Natal 2018-02-25   828.0    852     4   3312.0             4.0
10  Natal 2018-10-27   828.0    852     4   3312.0             4.0
69  Natal 2019-03-24   817.0    852     4   3268.0             4.0
62  Natal 2018-02-10   793.0    854     4   3172.0             4.0
52  Natal 2018-04-27   778.0    854     4   3112.0             4.0

#**Trabalhando com datas**

In [58]:
#Trasnformando a coluna de data em tipo inteiro
df["Data"] = df["Data"].astype("int64")

In [61]:
#Verificando o tipo de dado de cada coluna
df.dtypes

Cidade                    object
Data              datetime64[ns]
Vendas                   float64
LojaID                    object
Qtde                       int64
Receita                  float64
Receita/Vendas           float64
dtype: object

In [62]:
#Transformando coluna de data em data
df["Data"] = pd.to_datetime(df["Data"])

In [63]:
df.dtypes

Cidade                    object
Data              datetime64[ns]
Vendas                   float64
LojaID                    object
Qtde                       int64
Receita                  float64
Receita/Vendas           float64
dtype: object

In [64]:
#Agrupamento por ano
df.groupby(df["Data"].dt.year)["Receita"].sum()

Data
2018    118176.53
2019    228246.45
Name: Receita, dtype: float64

In [65]:
#Criando uma nova coluna com o ano
df["Ano_Venda"] = df["Data"].dt.year

In [66]:
df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_Venda
31,Recife,2019-01-01,176.23,981,7,1233.61,7.0,2019
13,Aracaju,2018-01-01,43.45,1522,10,434.50,10.0,2018
57,Recife,2019-01-01,201.41,980,3,604.23,3.0,2019
190,Natal,2019-01-02,78.78,1035,3,236.34,3.0,2019
77,Aracaju,2018-01-01,24.10,1522,1,24.10,1.0,2018

In [67]:
#Extraindo o mÃªs e o dia
df["mes_venda"], df["dia_venda"] = (df["Data"].dt.month, df["Data"].dt.day)

In [68]:
df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_Venda,mes_venda,dia_venda
225,Salvador,2019-01-02,36.23,1035,1,36.23,1.0,2019,1,2
114,Recife,2019-03-02,16.82,983,4,67.28,4.0,2019,3,2
172,Natal,2019-01-02,6.70,1035,1,6.70,1.0,2019,1,2
1,Natal,2018-11-25,563.00,853,2,1126.00,2.0,2018,11,25
90,Aracaju,2018-01-01,16.27,1522,1,16.27,1.0,2018,1,1

In [69]:
#Retornando a data mais antiga
df["Data"].min()

Timestamp('2018-01-01 00:00:00')

In [70]:
#Calculando a diferenÃ§a de dias
df["diferenca_dias"] = df["Data"] - df["Data"].min()

In [71]:
df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_Venda,mes_venda,dia_venda,diferenca_dias
65,Salvador,2019-01-01,3.39,1034,2,6.78,2.0,2019,1,1,365 days
80,Fortaleza,2019-01-01,47.88,1003,2,95.76,2.0,2019,1,1,365 days
50,Aracaju,2018-01-01,7.52,1522,5,37.60,5.0,2018,1,1,0 days
199,Natal,2019-01-02,153.87,1036,3,461.61,3.0,2019,1,2,366 days
73,Aracaju,2018-01-01,159.78,1521,3,479.34,3.0,2018,1,1,0 days

In [73]:
#Criando a coluna de trimestre
df["trimestre_venda"] = df["Data"].dt.quarter

In [74]:
df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_Venda,mes_venda,dia_venda,diferenca_dias,trimestre_venda
82,Natal,2019-03-07,868.00,854,3,2604.00,3.0,2019,3,7,430 days,1
127,Aracaju,2018-01-01,33.12,1522,9,298.08,9.0,2018,1,1,0 days,1
128,Natal,2019-01-02,36.84,1034,1,36.84,1.0,2019,1,2,366 days,1
205,Salvador,2019-01-02,196.09,1037,1,196.09,1.0,2019,1,2,366 days,1
56,Aracaju,2018-01-01,41.90,1523,6,251.40,6.0,2018,1,1,0 days,1

In [75]:
#Filtrando as vendas de 2019 do mÃªs de marÃ§o
vendas_marco_19 = df.loc[(df["Data"].dt.year == 2019) & (df["Data"].dt.month == 3)]

In [76]:
vendas_marco_19.sample(20)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_Venda,mes_venda,dia_venda,diferenca_dias,trimestre_venda
118,Salvador,2019-03-02,92.21,1035,2,184.42,2.0,2019,3,2,425 days,1
140,Salvador,2019-03-02,20.79,1036,2,41.58,2.0,2019,3,2,425 days,1
115,Fortaleza,2019-03-02,12.23,981,3,36.69,3.0,2019,3,2,425 days,1
19,Natal,2019-03-31,282.00,854,2,564.00,2.0,2019,3,31,454 days,1
45,Natal,2019-03-11,431.00,852,3,1293.00,3.0,2019,3,11,434 days,1
119,Salvador,2019-03-02,136.37,1034,2,272.74,2.0,2019,3,2,425 days,1
50,Natal,2019-03-08,324.00,854,4,1296.00,4.0,2019,3,8,431 days,1
134,Fortaleza,2019-03-02,195.18,980,5,975.90,5.0,2019,3,2,425 days,1
128,Fortaleza,2019-03-02,38.70,982,4,154.80,4.0,2019,3,2,425 days,1
32,Natal,2019-03-17,244.00,854,2,488.00,2.0,2019,3,17,440 days,1
112,Salvador,2019-03-02,43.00,1036,3,129.00,3.0,2019,3,2,425 days,1
134,Salvador,2019-03-02,125.90,1036,1,125.90,1.0,2019,3,2,425 days,1
69,Natal,2019-03-24,817.00,852,4,3268.00,4.0,2019,3,24,447 days,1
137,Fortaleza,2019-03-02,51.99,983,3,155.97,3.0,2019,3,2,425 days,1
110,Fortaleza,2019-03-02,51.98,983,6,311.88,6.0,2019,3,2,425 days,1
127,Fortaleza,2019-03-02,39.56,982,8,316.48,8.0,2019,3,2,425 days,1
82,Natal,2019-03-07,868.00,854,3,2604.00,3.0,2019,3,7,430 days,1
122,Recife,2019-03-02,235.06,983,3,705.18,3.0,2019,3,2,425 days,1
74,Natal,2019-03-10,303.00,854,3,909.00,3.0,2019,3,10,433 days,1
126,Salvador,2019-03-02,41.69,1036,2,83.38,2.0,2019,3,2,425 days,1